table{
	background:  #ff8000  ;
	border:  white 5px solid;
	color:white;
	text-align: center;
	margin: auto;
}

body{
	background-image: url(http://www.fondoswiki.com/Uploads/fondoswiki.com/Resoluciones/1530-1920x1080.jpg);
}
h1{
	text-align: center;
	color: white;
}